# Data Structures

In simple terms, It is the the collection or group of data in a particular structure.

## Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [1]:
a = []

In [2]:
a = list()

In [3]:
a

[]

In [4]:
print(type(a))

<class 'list'>

One can directly assign the sequence of data to a list x as shown.

In [5]:
x = ['apple', 'orange']

In [6]:
x

['apple', 'orange']

### Indexing

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [7]:
x[1]

'orange'

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [8]:
x[-1]

'orange'

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [9]:
y = ['carrot','potato']

Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [10]:
z  = [x,y]
print(z)

[['apple', 'orange'], ['carrot', 'potato']]

In [11]:
len(z)

2

In [12]:
z[1][0]

'carrot'

Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.

Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence z[0] should give us the first list which contains 'apple'.

In [13]:
z1 = z[0]
print(z1)

['apple', 'orange']

Now observe that z1 is not at all a nested list thus to access 'apple', z1 should be indexed at 0.

In [14]:
z1[0]

'apple'

Instead of doing the above, In python, you can access 'apple' by just writing the index values each time side by side.

In [15]:
z[1][0]

'carrot'

If there was a list inside a list inside a list then you can access the innermost value by executing z[ ][ ][ ].

In [16]:
x + y

['apple', 'orange', 'carrot', 'potato']

In [17]:
y.append('beans')

In [19]:
y

['carrot', 'potato', 'beans']

In [31]:
l1 = [1,2,'hello']
l2 = [4,5]

In [32]:
l1+l2

[1, 2, 'hello', 4, 5]

### Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [20]:
num = list(range(0,100,10))

In [21]:
num

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [22]:
print(num[0:4])
print(num[4:])

[0, 10, 20, 30]
[40, 50, 60, 70, 80, 90]

You can also slice a parent list with a fixed length or step length.

In [24]:
range(0,10,2)

[0, 2, 4, 6, 8]

In [23]:
num[:10:3]

[0, 30, 60, 90]

### Built in List Functions

To find the length of the list or the number of elements in a list, **len( )** is used.

In [24]:
len(num)

10

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [25]:
min(num)

0

In [26]:
max(num)

90

In [28]:
x = [1,2,'Hello',10]

In [29]:
max(x)

TypeError: '>' not supported between instances of 'str' and 'int'

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [27]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [30]:
names = ['Earth','Air','Fire','Water','Nothing']

To check if 'Fire' and 'Modi' is present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use 'a in b' concept which would return 'True' if a is present in b and 'False' if not.

In [31]:
'Fire' in names

True

In [23]:
'Modi' in names

False

In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element whose ASCII value is the highest and the lowest when **min( )** is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [34]:
mlist = ['bzaa','ds','nc','az','z','klm','ap']

In [35]:
print(max(mlist))
print(min(mlist))

z
ap

Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?

In [36]:
nlist = ['1','94','93','1000']

In [37]:
print(max(nlist))
print(min(nlist))

94
1

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

But if you want to find the **max( )** string element based on the length of the string then another parameter 'key=len' is declared inside the **max( )** and **min( )** function.

In [39]:
names

['Earth', 'Air', 'Fire', 'Water', 'Nothing']

In [38]:
print(max(names, key=len))
print(min(names, key=len))

Nothing
Air

In [41]:
list('he llo')

['h', 'e', ' ', 'l', 'l', 'o']

In [42]:
x = []

In [43]:
x.append('hello')

In [44]:
x

['hello']

**append( )** is used to add a element at the end of the list.

In [45]:
lst = [1,1,4,8,7]

In [46]:
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

**count( )** is used to count the number of a particular element that is present in the list.

In [47]:
lst

[1, 1, 4, 8, 7, 1]

In [49]:
lst.count(10)

0

**append( )** function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [62]:
lst1 = [5,4,2,8]

In [63]:
lst.append(lst1)
print(lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [52]:
lst

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

In [54]:
lst.index(1)

0

In [58]:
lst[-1].count(8)

1

**pop( )** function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [59]:
lst.pop()

[5, 4, 2, 8]

Index value can be specified to pop a ceratin element corresponding to that index value.

In [60]:
lst

[1, 1, 4, 8, 7, 1]

In [54]:
lst.pop()

4

In [55]:
lst

[1, 1]

**pop( )** is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the **remove( )** function.

In [64]:
lst

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

In [65]:
lst.remove(8)
print(lst)

[1, 1, 4, 7, 1, [5, 4, 2, 8]]

The entire elements present in the list can be reversed by using the **reverse()** function.

In [66]:
lst.reverse()
print(lst)

[[5, 4, 2, 8], 1, 7, 4, 1, 1]

For descending order, By default the reverse condition will be False for reverse. Hence changing it to True would arrange the elements in descending order.

In [64]:
lst

[[5, 4, 2, 8], 1, 7, 4, 1, 1]

In [68]:
x = [1,100,12,123]

In [71]:
x.sort(reverse=True)

In [72]:
x

[123, 100, 12, 1]

In [67]:
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Air', 'Earth', 'Fire', 'Nothing', 'Water']
['Water', 'Nothing', 'Fire', 'Earth', 'Air']

## Tuples

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, Recall **divmod()** function.

In [73]:
xyz = divmod(10,3)
print(xyz)
print(type(xyz))

(3, 1)
<class 'tuple'>

Here the quotient has to be 3 and the remainder has to be 1. These values cannot be changed whatsoever when 10 is divided by 3. Hence divmod returns these values in a tuple.

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [74]:
tup = ()
tup2 = tuple()

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [75]:
tup3 = tuple([1,2,3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

It follows the same indexing and slicing as Lists.

In [76]:
tup4

('H', 'e', 'l', 'l', 'o')

In [78]:
print(tup3[1])
tup5 = tup4[:3]
print(tup5)

2
('H', 'e', 'l')

In [84]:
tup3 = tuple([1,2,3,4,'hello',4,3])

In [85]:
tup3.count(3)

2

In [83]:
tup3.index(4)

3

In [87]:
tup3

(1, 2, 3, 4, 'hello', 4, 3)

## Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [63]:
set1 = set()
print(type(set1))

<type 'set'>

In [102]:
set0 = set([1,2,2,3,3,4])
print(set0)

{1, 2, 3, 4}

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

### Built-in Functions

In [103]:
set1 = set([1,2,3])

In [104]:
set2 = set([2,3,4,5])

**union( )** function returns a set which contains all the elements of both the sets without repition.

In [90]:
set1.union(set2)

{1, 2, 3, 4, 5}

**add( )** will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [91]:
set1.add(0)
set1

{0, 1, 2, 3}

**intersection( )** function outputs a set which contains all the elements that are in both sets.

In [92]:
set1.intersection(set2)

{2, 3}

In [93]:
set2.intersection(set1)

{2, 3}

**difference( )** function ouptuts a set which contains elements that are in set1 and not in set2.

In [94]:
print(set1)
print(set2)

{0, 1, 2, 3}
{2, 3, 4, 5}

In [95]:
set1.difference(set2)

{0, 1}

**issubset( ), isdisjoint( ), issuperset( )** is used to check if the set1/set2 is a subset, disjoint or superset of set2/set1 respectively.

In [18]:
set1.issubset(set2)

False

In [84]:
set2.isdisjoint(set1)

False

In [19]:
set2.issuperset(set1)

False

**pop( )** is used to remove an arbitrary element in the set

In [96]:
set1

{0, 1, 2, 3}

In [100]:
print(set1.pop())
print(set1)

3
set()

**remove( )** function deletes the specified element from the set.

In [105]:
set1.remove(2)
set1

{1, 3}

**clear( )** is used to clear all the elements and make that set an empty set.

In [106]:
set1.clear()
set1

set()

In [107]:
del set2,tup4

In [120]:
import numpy as np
x = list(np.random.randint(0,1000,100))
y = list(np.random.randint(0,1000,100))

In [121]:
x = set(x) #93
y = set(y) #96

In [125]:
len(x.union(y)) # Union

184

In [126]:
len(x.intersection(y)) # intersection

5

In [127]:
x.difference(y)

{7,
 8,
 12,
 15,
 33,
 39,
 63,
 68,
 71,
 83,
 106,
 111,
 113,
 122,
 123,
 165,
 170,
 175,
 187,
 192,
 203,
 214,
 230,
 241,
 244,
 259,
 260,
 262,
 267,
 280,
 292,
 316,
 324,
 332,
 336,
 343,
 346,
 361,
 366,
 371,
 384,
 389,
 409,
 417,
 418,
 477,
 482,
 511,
 520,
 528,
 538,
 542,
 547,
 553,
 566,
 569,
 600,
 624,
 625,
 626,
 634,
 644,
 645,
 646,
 664,
 672,
 711,
 722,
 751,
 754,
 765,
 769,
 772,
 781,
 783,
 784,
 785,
 806,
 839,
 855,
 881,
 895,
 897,
 913,
 932,
 941,
 970,
 989}

In [128]:
y.difference(x)

{19,
 22,
 46,
 57,
 70,
 89,
 104,
 115,
 124,
 129,
 141,
 156,
 159,
 186,
 191,
 200,
 217,
 223,
 228,
 235,
 248,
 256,
 269,
 272,
 276,
 286,
 293,
 321,
 326,
 340,
 341,
 353,
 367,
 381,
 392,
 398,
 403,
 408,
 423,
 429,
 430,
 463,
 470,
 472,
 490,
 497,
 513,
 523,
 539,
 541,
 554,
 565,
 582,
 585,
 604,
 605,
 622,
 628,
 647,
 666,
 671,
 678,
 684,
 687,
 693,
 698,
 712,
 747,
 757,
 770,
 776,
 792,
 822,
 831,
 849,
 867,
 879,
 888,
 890,
 892,
 893,
 901,
 902,
 911,
 936,
 940,
 964,
 968,
 972,
 984,
 987}